.task-status-class{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: large;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.comp{
    color: green;
    margin: 7px;
}

.ncomp{
    color: red;
}